<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>CashCraft | Detalle del Cliente</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body>

<header th:insert="/fragments/menu :: menu-principal"></header>

    <main role="main">
      <hr>
      <div class="container"> 

        <div class="row">
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" th:src="@{/logos/{img} (img=${usuario.imagen}) }" width="105" height="105">
          </div>
          <div class="col-md-9">
            <div class="card">
              <h4 class="card-header">Detalle del Cliente<strong></strong></h4>              
              <div class="card-body" >
				  
					
                <h5 class="card-title"><strong>Nombre: </strong> <span th:text="${usuario.nombre}"></span></h5>
                <h6 class="card-title"><strong>Apellido: </strong> <span th:text="${usuario.apellido}"></span></h6>                
                <h6 class="card-title"><strong>Email: </strong><span th:text="${usuario.email}"></span></h6>
                <h6 class="card-title"><strong>Fecha de Registro: </strong><span th:text="${usuario.fecha}"></span></h6>
                
                <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/registro}"
						class="btn text-white" style="background-color: rgb(30, 33, 78)" title="Crear nuevo cliente" role="button">
						<i class="fas fa-file" aria-hidden="true"></i> Crear Factura
					</a>
					<hr>
                <div class="card bg-light mb-3" >
                  <div class="card-body">
					  
                    <p class="card-text"></p>
                  </div>
                </div>   
                <td><a href="javascript:history.go(-1)" class="btn text-white" style="background-color: rgb(30, 33, 78)">Regresar </a></td>
							                         
              </div>
            </div>  
          </div>
        </div>

      </div>
    </main>

        <footer  th:insert="/fragments/footer :: pie-pagina" class="footer">
      
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
